.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da ;
    border-radius: 4px;
    height: 31px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px ;
    padding-right: 0px ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 ;
    line-height: 22px ;
    font-size: .875rem;
}




.drop-sm .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: calc(1.8125rem + 2px);
    user-select: none;
    -webkit-user-select: none;
}
.drop-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 23px !important;
    font-size: .875rem;
}
.drop-lg .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: calc(2.25rem + 2px);
    user-select: none;
    -webkit-user-select: none;
}
.drop-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 33px !important;
    font-size: 1rem;
    padding: 0px !important;
}
.drop-lg .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-sm .form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: 0.05rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.td_w{
  width:90px !important;
}
.sr_no{
  width:50px !important;
}
/* Multi select */
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 38px !important;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da !important;
    outline: 0;
}

/* Required Aleret  */
.req-alert p{
  margin: 0px !important;
}

.tbl_add td{
  padding:2px 10px !important;
}
.tbl_add th, .tbl_add td { min-width:100px; }
.sr_no, .td_btn{
  min-width:50px !important;
}
.tbl_add .td_w{
  min-width:100px !important;
}

.tbl_cust1 td{
  width:20% !important;
}
.tbl_cust td{
  width:25% !important;
}
