.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    height: 31px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 22px !important;
    font-size: .875rem;
}
